spring.application.name=lumi

# Postgres Config - Local
spring.datasource.driverClassName=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://localhost:5432/lumi?useTimezone=true&serverTimezone=America/Sao_Paulo
spring.datasource.username=username
spring.datasource.password=password

# Jpa
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update

# Actuator
management.endpoint.shutdown.enabled=true
management.endpoints.enabled-by-default=true
management.endpoint.info.enabled=true
management.endpoint.prometheus.enabled=true
management.endpoint.health.show-details=always
management.endpoints.web.exposure.include=*
management.endpoint.metrics.enabled=true

# OpenAI
openai.max-tokens=256
openai.n=1
openai.model=gpt-3.5-turbo
openai.url=https://api.openai.com/v1/chat/completions
openai.api-key=<your-api-key>
